# SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
build.local.sbt

# Intellij
*.iws
*.iml
/out/
.idea/
.idea_modules/
atlassian-ide-plugin.xml

test-project/junit-platform-console-standalone-1.0.0-M4.jar
